streamlit
streamlit-option-menu
streamlit-chat
streamlit-webrtc
streamlit-ace
langchain
langchain_community
langchain-google-genai
python-dotenv
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
SpeechRecognition
pyaudio
vosk
sounddevice
numpy
opencv-python-headless
mediapipe
python-dotenv
google-auth-oauthlib 
google-auth-transport-requests
streamlit-modal
